.header {
    height: 10vh;
    margin: 0;
    justify-content: space-between;
    @media(max-width: 400px) {
        justify-content: space-around;
    } 
}
.buttonLogout {
    &:hover {
        cursor: pointer;
    }
}
.menu {
    margin-left: -2.5%;
}
.logo-header {
    width: 100px;
    @media(max-width: 400px) {
        display: none;
    } 
}